li:first-letter {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 150%;
}

p {
  margin: 16px;
}

li {
  list-style-type: none;
  text-align: center;
}

body {
  background-color: #f5aa42;
}

#wrap {
  border: 5px dashed;  
  width: 600px;
  margin: auto;
  background-color: #F4F8BA;
}

h1 {
  font-style: italic;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  border-bottom: 5px dashed;

}
