body {
  background-color: #103EF7;
}

#wrap {
  width: 620px;
  height: 500px;
  margin: 0 auto;
  
}

#nav {
  float: left;
  width: 200px;
  padding-left: 10px;
  background-color: rgb(16, 207, 247);
  height: 100%;
}

#content {
  float: right;
  width: 400px;
  height: 100%;
  padding-left: 10px;
  background-color: rgb(77, 143, 239);
}

#content > h1 {
  text-align: center;
}

.copyright {
  text-align: center;
}