.cool {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#unique {
    color: blue;
    font-size: 36px;
}

.even-cooler {
    font-size: 24px;
}

#green-unique {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}
